<!DOCTYPE html>
<html>
 <head>
     <title>this is about page</title>
     <link rel="stylesheet" href ="/css/styles.css">
 </head>
 <body>

     <div class ="main-content">  
        {{>header}}

        <p>this site was created by omar salem. it uses data from mapbox.com and weatherstack.com </p>
    </div>
        {{>footer}}

 </body>
  
</html>